<div class="reviews-card">
    <div class="reviews-card-avatar">
        <img [src]="review.image" alt="Avatar de {{review.name}}">
    </div>
    <div class="reviews-card-title">
        <p>{{review.name}}</p>
    </div>
    <div class="reviews-card-stars">
        <fa-icon [icon]="icons.faStar" class="star" *ngFor="let item of [1,2,3,4,5]"></fa-icon>
    </div>
    <div class="reviews-card-text">
        <blockquote>
            <fa-icon [icon]="icons.faQuoteLeft" class="quote-left"></fa-icon>
            <p lang="pt" class="block-ellipsis" (click)="seeMore = !seeMore" [ngClass]="{'see-more': seeMore}"><span lang="pt">{{review.message}}</span></p>
            <fa-icon [icon]="icons.faQuoteRight" class="quote-right"></fa-icon>
        </blockquote>
    </div>
</div>