.banner-home {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  box-shadow: 0em 0em 1rem 0px rgba(0, 0, 0, 0.15);
  .banner-image {
    width: 100%;
    &.desktop {
      display: none;
      @media only screen and (min-width: 986px) {
        display: block;
      }
    }
    &.mobile {
      display: block;
      @media only screen and (min-width: 986px) {
        display: none;
      }
    }
  }
}
