.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding: 4em;
  width: 70%;
  column-gap: 3em;
  margin: 0 auto;

  .contact-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    p {
      text-align: center;
      font-size: 1.3em;
      margin: 0 4em;
    }
  }

  .contact-social-network {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;

    .social-network-item {
      display: flex;
      justify-self: start;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 1.3em;
        margin: 0 15px;
        align-self: center;
      }
    }
  }

  .contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    row-gap: 1em;
    width: 100%;

    .title-form {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      align-items: center;

      p {
        justify-self: start;
        font-family: "Amatic SC";
        font-size: 3em;
        margin: 0 0 0 -0.6em;
      }

      img {
        justify-self: end;
      }
    }

    .form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      justify-items: center;
      align-items: center;
      row-gap: 1em;
      width: 100%;

      mat-form-field {
        width: 100%;
      }

      .form-button {
        width: 100%;
        font-family: "Amatic SC";
        font-size: 2em;
      }
    }
  }
}

@media only screen and (max-width: 986px) {
  .contact-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
    padding: 2em;
    width: auto;

    .contact-text {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      p {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 1em;
      }
    }

    .contact-social-network {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      row-gap: 0;
      width: 100%;
      margin: auto;

      .social-network-item {
        align-self: center;

        img {
          margin-right: 10px;
          width: 24px;
          height: 24px;
          align-self: center;
        }

        p {
          font-size: 1em;
        }
      }
    }

    .contact-form {
      align-items: center;
      row-gap: 1em;
      width: 100%;
      margin: auto;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;

      .title-form {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        align-items: center;

        img {
          width: 70px;
        }

        p {
          font-size: 2em;
        }
      }
    }
  }
}
