<div>
  <mat-toolbar color="Basic">
    <mat-toolbar-row class="contenedor">
      <div class="item">
        <button mat-icon-button class="icon-open-menu">
          <mat-icon (click)="toggleMenu()">menu</mat-icon>
        </button>
      </div>
      <div class="item">
        <img src="/assets/images/logo.png" alt="Espanhol entre amigos" />
      </div>
      <div class="item">
        <a routerLink="/" mat-button class="subitem">Inicio</a>
        <a routerLink="/sobre-mi" mat-button class="subitem">Sobre mí</a>
        <a routerLink="/cursos" mat-button class="subitem">Cursos</a>
        <a routerLink="/blog" mat-button class="subitem">Blog</a>
        <a routerLink="/contacto" mat-button class="subitem">Contacto</a>
      </div>
      <div class="item">
        <a href="#" class="subitem facebook"></a>
        <a href="#" class="subitem instagram"></a>
        <a href="#" class="subitem youtube"></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="sidebar-container">
    <nav class="sidebar-menu efecto-slide" [ngClass]="{ 'sidebar-menu-open': openMenu }">
      <ul class="menu-items" (click)="toggleMenu()">
        <li>
          <button mat-icon-button class="close">
            <mat-icon>close</mat-icon>
          </button>
        </li>
        <li><a routerLink="/" mat-button class="subitem">Inicio</a></li>
        <li>
          <a routerLink="/sobre-mi" mat-button class="subitem">Sobre mí</a>
        </li>
        <li><a routerLink="/cursos" mat-button class="subitem">Cursos</a></li>
        <li><a routerLink="/blog" mat-button class="subitem">Blog</a></li>
        <li>
          <a routerLink="/contacto" mat-button class="subitem">Contacto</a>
        </li>
        <li>
          <div class="icons-menu-mobile">
            <a href="#" class="subitem"><img src="/assets/images/icons/facebook-2.png" alt="facebook" /></a>
            <a href="#" class="subitem"><img src="/assets/images/icons/instagram-2.png" alt="instagram" /></a>
            <a href="#" class="subitem"><img src="/assets/images/icons/youtube-2.png" alt="youtube" /></a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>