$color_1: #666;
$color_2: #fff;
$color_principal: #5ce1e6;

.header-container {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mat-button {
    font-weight: 100;
    @media only screen and (min-width: 996px) {
      font-size: 1.25rem;
    }
    &:hover {
      @media only screen and (min-width: 996px) {
        opacity: 0.5;
        background-color: $color_principal;
      }
    }
  }
  .button-menu {
    .icon {
      font-size: 1.5rem;
    }
  }
  img {
    width: 100%;
    @media only screen and (min-width: 996px) {
      width: auto;
    }
  }
  .mat-toolbar {
    background: #fff;
    color: $color_1;
    z-index: 3;
    position: sticky;
    @media only screen and (min-width: 996px) {
      position: relative;
    }
    .toolbar {
      display: grid;
      grid-template-columns: 1fr 9fr;
      grid-template-rows: 1fr;
      padding: 10px;
      height: 100%;
      box-shadow: 0em 0em 1rem 0px rgba(0, 0, 0, 0.15);
      @media only screen and (min-width: 996px) {
        grid-template-columns: 0fr 15fr 8fr 5fr;
      }
      .icon-open-menu {
        z-index: 2;
      }
      .item {
        &.button-menu {
          @media only screen and (min-width: 996px) {
            visibility: hidden;
          }
        }
        &.links-menu {
          display: none;
          @media only screen and (min-width: 996px) {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: auto;
            grid-column-gap: 10px;
          }
        }
        &.social-media-links {
          display: none;
          @media only screen and (min-width: 996px) {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: auto;
            grid-column-gap: 1.5rem;
            -webkit-box-pack: center;
            justify-content: center;
            .subitem {
              .icon {
                font-size: 24px;
                color: $color_principal;
                &:hover {
                  color: $color_1;
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar-container {
    width: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    @media only screen and (min-width: 996px) {
      display: none;
    }
    &.active {
      width: 100%;
    }
    .sidebar-menu {
      width: 300px;
      height: 100vh;
      background: #5ce1e6;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      box-shadow: 0em 0em 1rem 0px rgba(0, 0, 0, 0.15);
      .menu-items {
        .subitem {
          .subitem-link {
            display: block;
            padding: 1rem;
            outline: none;
            color: $color_1;
            text-transform: uppercase;
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
            letter-spacing: 1px;
            font-weight: 400;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
            &:hover {
              background: rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
              color: $color_2;
            }
          }
        }
      }
      &::after.efecto-slide {
        display: none;
      }
      &.efecto-slide {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        &.sidebar-menu-open {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      .menu-items {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 100vh;
        align-content: center;
        .icons-menu-mobile {
          display: grid;
          grid-template-columns: repeat(4, auto);
          grid-template-rows: auto;
          justify-content: center;
          font-size: 1.5rem;
          img {
            width: 1.5rem;
          }
        }
      }
    }
  }
}
