<footer class="contenedor">
  <div class="item logo">
    <img src="/assets/images/logo.png" alt="Espanhol entre amigos" />
  </div>
  <div class="item social-icons">
    <a href="https://www.facebook.com/espanolentreamigos/" aria-label="facebook" target="_blank" class="subitem facebook"></a>
    <a href="https://www.instagram.com/espanolentreamigos/?hl=es" aria-label="instagram" target="_blank" class="subitem instagram"></a>
    <a href="https://www.youtube.com/channel/UCCeJvOxD-3ylePcNqXFlVOA" aria-label="youtube" target="_blank" class="subitem youtube"></a>
    <a href="https://open.spotify.com/show/6OVfzOKTMWONLY3ry6HxHW" aria-label="spotify" target="_blank" class="subitem spotify"></a>
    <a href="https://www.linkedin.com/in/marioly-guerrero-5b873b12b/" aria-label="linkedin" class="subitem linkedin"></a>
  </div>
  <div class="item firma">
    <p>
      Copyright &copy; 2020. Todos los derechos reservados. Desarrollado por
      Diego Reymy
    </p>
  </div>
</footer>
