<footer class="contenedor">
  <div class="item logo">
    <img src="/assets/images/logo.png" alt="Espanhol entre amigos" />
  </div>
  <div class="item social-icons">
    <a href="#" class="subitem facebook"></a>
    <a href="#" class="subitem instagram"></a>
    <a href="#" class="subitem youtube"></a>
    <a href="#" class="subitem spotify"></a>
    <a href="#" class="subitem linkedin"></a>
  </div>
  <div class="item firma">
    <p>
      Copyright &copy; 2020. Todos los derechos reservados. Desarrollado por
      Diego Reymy
    </p>
  </div>
</footer>
