<footer class="contenedor">
  <div class="item logo">
    <img src="/assets/images/logo.png" alt="Espanhol entre amigos" />
  </div>
  <div class="item social-icons">
    <a href="https://www.facebook.com/espanolentreamigos/" target="_blank" class="subitem facebook"></a>
    <a href="https://www.instagram.com/espanolentreamigos/?hl=es" target="_blank" class="subitem instagram"></a>
    <a href="https://www.youtube.com/channel/UCCeJvOxD-3ylePcNqXFlVOA" target="_blank" class="subitem youtube"></a>
    <a href="https://open.spotify.com/show/6OVfzOKTMWONLY3ry6HxHW" target="_blank" class="subitem spotify"></a>
    <a href="#" class="subitem linkedin"></a>
  </div>
  <div class="item firma">
    <p>
      Copyright &copy; 2020. Todos los derechos reservados. Desarrollado por
      Diego Reymy
    </p>
  </div>
</footer>
