<div class="about-me-page">
    <img src="assets/images/sobre-mi/sobre-mi-portada.jpg"
        alt="Marioly guerrero, imagen principal de la sección sobre mí.">
    <h1 class="mb-0">Sobre mí</h1>
    <p>Soy Marioly, creadora de “Español entre Amigos”, soy profesora nativa de español para brasileños y hablantes de
        la
        lengua portuguesa, con más de tres años de experiencia.</p>
    <p>Llegué a este hermoso país Brasil, en septiembre del 2016, producto de la crisis humanitaria de mi país
        Venezuela. Soy licenciada en turismo de profesión, y a falta de ofertas laborales en mi área, me embarque en
        la aventura de ser profesora de español, te confieso que sentí miedo porque no hablaba casi nada de portugués, y
        ser nativo de un idioma no necesariamente te hace un profesor, pero como los venezolanos somos del tamaño de los
        retos que nos ponen, aquí vamos como barco en altamar.</p>
    <div class="img">
        <img class="img-h2" src="assets/images/sobre-mi/rio-de-janeiro.jpg" alt="Rio de janeiro ano 2019">
        <span>Vista desde Pão de Açucar, Rio de Janeiro, 2019</span>
    </div>

    <h2 class="mb-0">Mi método</h2>
    <p><strong>Español entre Amigos</strong> tiene el propósito de demostrarle a sus estudiantes, y a ti que estás
        navegando por mi blog, que puedes entender lo que lees y lo que escuchas desde el primer contacto con el idioma,
        y que no necesitas estar en un nivel conversacional para que puedas desenvolverte y resolver situaciones en el
        idioma español. Las personas que estudian con mi método descubren que pueden alcanzar nuestro tan deseado
        español sin tener que estudiar por mucho tiempo.
    </p>
    <blockquote>
        <p>Más del 90% de los alumnos consiguen entender lo que yo hablo en un 70% y hasta 90%. Solo un 10% tiene una
            comprensión menor, que no es inferior a por lo menos un 50%, en cuyos casos utilizo el portugués indicando
            previamente al alumno que hablaré en portugués en ese momento para que así no confunda ambos idiomas.</p>
    </blockquote>
    <p>Mi objetivo es conseguir que puedan hablar lo más pronto posible, pues cuando aprendemos un idioma, lo hacemos
        principalmente para comunicarnos hablando y que esto nos permita resolver situaciones. Por esta razón decidí
        hacer mi propio curso de español, adaptado específicamente a hablantes de la lengua portuguesa.</p>
    <div class="vertical-images">
        <img src="assets/images/sobre-mi/las-primeras-10-clases-de-español.png" alt="Las primeras 10 clases de español">
        <a href="https://open.spotify.com/episode/5QvvuGHDmBBDf65UrorLus" target="_blank"><img
                src="assets/images/sobre-mi/las-primeras-10-clases.jpg"
                alt="Las primeras 10 clases de español, es una entrevista hecha para una estudiante con sólo 10 clases de español, las clases fueron sólo en español, la entrevisa fue hecha con el objetivo de evaluar su progreso, si quieres escucharla visita este enlace."></a>
    </div>

    <p>Normalmente los libros de idiomas te hacen hablar sobre Pedro, Pablo, María y Andrés, ¿Los conoces? Yo no, por
        eso me gusta hablar con mis alumnos de nuestras experiencias personales. Hacemos muchísimas clases
        conversacionales desde el comienzo, con el propósito de que vayan ganando confianza y utilicen los recursos del
        portugués a su favor y puedan en cualquier momento hablar sobre ellos mismos.</p>
    <h2 class="mb-0">¿Cómo surgió mi método?</h2>
    <p>Te contaré como surgió mi método, el cual ha ayudado a cientos de personas a aprender español de una manera
        rápida, divertida y sobre todo efectiva.</p>
    <blockquote>
        <p>Recuerdo que al principio yo les decía a mis alumnos que yo hablaría 100% en español, pues así el proceso
            sería mucho más efectivo, y que no valía la pena que yo hablara en portugués, si ya ellos entendían algunas
            cosas, aunque estuviesen en nivel cero,</p>
    </blockquote>
    <p>Realmente lo hacía, porque yo no hablaba casi nada de portugués. Todo resultó ser un gran éxito pues de esta
        manera ellos han confirmado que aprender es mucho más rápido por la proximidad de las dos lenguas, que permite
        que entiendan, aunque hayan tenido poco o ningún contacto con el español antes.</p>
    <p>También lo hago para ayudarles a salir de la zona del portuñol, pues si solo hablo en español, todo lo que quiera
        que estén entendiendo, sabrán que lo están haciendo en español, y no saltando de un idioma al otro, lo que
        podría confundir un poco más las cosas.</p>
    <p>Además, mi experiencia aprendiendo el portugués e interactuando con nativos y con la cultura brasileña hizo que
        pudiera aprovechar todas estas ventajas para enseñar español.
    </p>
    <blockquote class="one-line">
        <p>“Español entre Amigos es una recompensa a la perseverancia”</p>
    </blockquote>
    <p>Español entre amigos, me ha permitido aproximarme a personas extraordinarias. Hemos crecido juntos, hemos
        compartido momentos increíbles, hemos aprendido un idioma sin las formalidades y la rigurosidad de las escuelas
        tradicionales.</p>
    <div class="img">
        <img class="img-h2" src="assets/images/sobre-mi/mis-alumnos.jpg"
            alt="Primera promoción de español en la Escuela de idiomas Idea 2017-2019">
        <span>Primera promoción de español – Escuela Idea Idiomas 2017-2019</span>
    </div>

    <p>Hoy quiero invitarte a que seas parte de esta gran aventura, quiero que aprendas no solo vocabulario o gramática,
        quiero mostrarte el mundo hispano, que vivas junto conmigo nuestra diversa cultura, que aprendas un idioma que
        te abrirá innumerables puertas.</p>
    <h2 class="mb-0">Mi historia</h2>
    <p>Soy venezolana, nací en los Andes Venezolanos, específicamente en un pequeño pueblo llamado Pregonero. Crecí
        entre montañas y hermosos paisajes, rodeada de personas alegres, educadas y hospitalarias. Mi acento andino,
        pausado, formal, y bien modulado viene de allí, lugar donde se trata con educación al amigo, al hermano y a
        cualquier persona que llegué a tener algún contacto con nosotros.</p>
    <p>A los 11 años me formé como guía de turismo, “mi primera pasión”, la cual forjó en mí la hospitalidad al momento
        de trabajar con público y hacerlos sentir confortables, luego me volví <strong>Guía Instructora</strong> y desde
        entonces, formar personas es mi vocación.</p>
    <div class="img">
        <img class="img-h2" src="assets/images/sobre-mi/guias.jpg"
            alt="Formación de Guías de Senderos en el parque nacional Waraira Repano, Venezuela.">
        <span>Formación de Guías de Senderos – Parque Nacional Waraira Repano – Venezuela. Foto cortesía: Freddy
            Arévalo M.
        </span>
    </div>

    <p><strong>Soy licenciada en turismo y especialista en Turismo Rural</strong>. Una vez egresé de la universidad creí
        que dedicaría mi vida a la formación de guías y al asesoramiento de prestadores de servicios turísticos.</p>
    <p>Esta ilusión duró muy poco tiempo, pues cuando apenas comenzaba esta parte importante de mi vida profesional,
        tuve que dejar mi país, producto de la crisis humanitaria que se intensificó para el año 2016.</p>
    <p>Llena de sueños, con el corazón roto, pero con una vida por delante llegué a Brasil, con la ilusión no solo de
        tener una mejor calidad de vida, sino también la de dar continuidad a mi vida profesional en turismo.
        Lamentablemente después de algunas semanas intentándolo no fue posible conseguir trabajo en mi área.</p>
    <p>Hay algo que me llena de mucho orgullo de los venezolanos, y es que para mí "Somos del tamaño de los retos que
        nos pongan", entonces abierta a nuevas opciones y por recomendación de una amiga y colega venezolana, decidí
        comenzar mi carrera como profesora de español.</p>
    <p>No fue fácil, pues ser nativo de un idioma no te hace un profesor, pero estaba llena de optimismo y ganas de
        hacerlo bien. Comencé como profesora en una escuela de idiomas en la que forjé mi carácter, tracé una ruta de
        estudio e hice grandes amigos, mientras de manera particular fui trabajando mi propio método, aprendiendo de las
        escuelas tradicionales lo que servía y mejorando según mi experiencia lo que debía ser mejorado.</p>
    <p>Hoy en día trabajo de manera particular, me volví una apasionada de mi lengua nativa y de la enseñanza del idioma
        español, he ayudado a centenas de personas de todas la edades a desenvolverse en español en cualquiera de sus
        niveles, haciendo de este un espacio confortable lleno de historias, anécdotas, risas e innumerables momentos al
        que decidí llamar "Español entre Amigos", consecuencia de la relación tan estrecha que he logrado con la mayoría
        de mis alumnos, me he vuelto la profesora que siempre quise tener y la que ellos se merecen.</p>
    <p class="assign-text">Bienvenido a Español entre Amigos.</p>
</div>