<div class="container-about-espanhol-entre-amigos">
    <div class="image-container">
        <img src="/assets/images/video.jfif" alt="video">
    </div>
    <div class="description-container">
        <h2>Español entre Amigos</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor, sem in tincidunt interdum, purus tellus elementum quam, et accumsan nulla nulla vitae lectus. Mauris hendrerit sapien vel ligula pretium commodo. Phasellus sit amet mattis orci. 
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor, sem in tincidunt interdum, purus tellus elementum quam, et accumsan nulla nulla vitae lectus. Mauris hendrerit sapien vel ligula pretium commodo. Phasellus sit amet mattis orci.
        </p>
    </div>
</div>