<div class="post">
    <div class="post-img">
        <img [src]="post.image" alt="Post" class="img-desktop" />
        <img [src]="post.imageMobile" alt="Post" class="img-mobile" />
    </div>
    <div class="post-title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="post-date">
        <p>{{post.date}}</p>
    </div>
    <div class="post-text" [innerHTML]="post.content"></div>
    <p class="assign-text">Marioly Guerrero</p>
    <div class="post-social-share-buttons">
        <p>Si te gustó este artículo, compártelo! </p>
        <share-buttons [theme]="'circles-dark'" [include]="[
        'facebook',
        'twitter',
        'linkedin',
        'google',
        'telegram',
        'messenger',
        'whatsapp',
        'email'
      ]" [show]="8" [url]="'https://www.espanholentreamigos.com.br/blog/' + post.slug" [title]="'Titulo del post'" [description]="'Descripción del post'"
            [autoSetMeta]="false"></share-buttons>
    </div>
</div>