<div class="post">
    <div class="post-img">
        <img src="https://via.placeholder.com/1280x480" alt="Post" class="img-desktop" />
        <img src="https://via.placeholder.com/200x200" alt="Post" class="img-mobile" />
    </div>
    <div class="post-title">
        <h1>Titulo del post</h1>
    </div>
    <div class="post-date">
        <p>12/01/2020</p>
    </div>
    <div class="post-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus
            ligula at ante ullamcorper viverra. Vestibulum et lacinia neque. Praesent
            tellus dolor, fermentum et dolor non, porta tincidunt nunc. Morbi sagittis
            porttitor ante, eget porttitor lectus tristique nec. Nulla non neque
            mauris. Nulla lobortis metus at metus molestie, vel malesuada magna
            euismod. Morbi a elementum mi. Proin viverra enim magna, a tempus ante
            sagittis ut. Aliquam rhoncus orci eget egestas ullamcorper. Maecenas
            pharetra augue lorem, id placerat arcu molestie non. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>

        <p>
            Vestibulum quam risus, aliquet molestie diam a, eleifend consequat nisl.
            Morbi vulputate lacinia turpis, vel tincidunt mi tempor in. Nunc tincidunt
            sollicitudin velit, sit amet ultricies risus fermentum et. Pellentesque
            iaculis neque eget neque tempor, id imperdiet purus luctus. Vivamus
            convallis lectus vel lorem lacinia, eu congue lectus lacinia. Quisque vel
            tempus dui, sit amet lacinia est. Integer euismod sagittis lorem vitae
            feugiat. Suspendisse ornare pellentesque eleifend.
        </p>

        <p>
            Integer eu fringilla enim. Etiam nec lorem ex. Ut a nulla vitae nisi
            sagittis luctus. Aenean cursus vulputate libero, eu consequat ante
            hendrerit vitae. Phasellus elementum, orci vel eleifend lacinia, tellus
            dui suscipit elit, nec placerat leo erat at erat. Nunc ante diam, varius
            non tincidunt sed, laoreet vitae ligula. Suspendisse potenti. Aliquam erat
            volutpat. Nam at purus luctus, condimentum urna nec, tempus diam. Fusce
            pellentesque nibh et pulvinar bibendum.
        </p>

        <p>
            Nulla neque tellus, gravida in sodales sed, eleifend eget mauris. Sed nec
            pretium tellus. Duis consectetur sit amet nisl nec sagittis. Ut vitae
            turpis a neque elementum accumsan. In nibh risus, rutrum quis ante et,
            cursus aliquam lacus. Fusce elementum turpis vitae magna condimentum, et
            porttitor lacus placerat. Sed sit amet fringilla purus. Suspendisse
            tristique, justo quis ornare lacinia, lectus risus blandit nulla, vitae
            sagittis felis nulla non purus.
        </p>

        <p>
            Duis et metus nunc. Pellentesque bibendum facilisis nisi eget rhoncus.
            Proin non mauris eu turpis interdum bibendum non dictum dui. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Aliquam erat volutpat. Nulla bibendum felis ac velit
            scelerisque laoreet. Nullam et massa mollis neque imperdiet pharetra et at
            quam. Quisque sed nulla a odio placerat faucibus nec quis leo.
        </p>
    </div>
    <div class="post-social-share-buttons">
        <p>Si te gustó este artículo, compártelo! </p>
        <share-buttons [theme]="'circles-dark'" [include]="[
        'facebook',
        'twitter',
        'linkedin',
        'google',
        'telegram',
        'messenger',
        'whatsapp',
        'email'
      ]" [show]="8" [url]="'https://www.espanholentreamigos.com.br/blog/slug-del-post'" [title]="'Titulo del post'" [description]="'Descripción del post'"
            [autoSetMeta]="false"></share-buttons>
    </div>
</div>