<a routerLink="../" class="link-to-back">
    <fa-icon [icon]="icons.faArrowLeft"></fa-icon>
    volver
</a>
<div class="post" *ngIf="post">
    <div class="post-img">
        <img [src]="post.horizontalImage" alt="Post" class="img-desktop" />
        <img [src]="post.squareImage" alt="Post" class="img-mobile" />
    </div>
    <div class="post-title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="post-date">
        <p>{{post.date}}</p>
    </div>
    <div class="post-text" [innerHTML]="post.content"></div>
    <p class="assign-text"><img src="assets/images/marca/firma.png" alt="Firma Marioly Guerrero"></p>
    <div class="post-social-share-buttons">
        <p>Si te gustó este artículo, compártelo! </p>
        <app-share-buttons [url]="'https://espanholentreamigos.com.br/blog/' + post.slug"
            [title]="'Titulo del post'" [description]="post.title" [image]="post.horizontalImage" *ngIf="post">
        </app-share-buttons>
    </div>
</div>