<div class="about-me">
  <div class="about-me-text">
    <div class="about-me-text-blocks">
        <h2 class="title">
            Te contaré un poco sobre Mí
        </h2>
        <p class="short-history-text">
          Llegué a tu hermoso país Brasil, en septiembre del
          2016 producto de la crisis humanitaria de mi país Venezuela, soy licenciada en
          turismo de profesión y a falta de ofertas laborales en mi área me embarque
          en esta aventura de ser profesora de español, te confieso que sentí miedo
          porque no hablaba casi nada de portugués y ser nativo de un idioma no te
          hace un profesor, pero como los venezolanos somos del tamaño de los retos
          que nos ponen, aquí estamos como barco en altamar.
        </p>
        <p class="assign-text">
          <img src="assets/images/marca/firma.png" alt="Firma Marioly Guerrero">
        </p>
    </div>
  </div>
  <div class="about-me-image">
    <img src="/assets/images/marca/about-me-background.jpg" alt="Marioly en Brasil, vista desde Pan de azúcar, Rio de Janeiro" />
  </div>
</div>
