<div class="container-about-espanhol-entre-amigos">
    <div class="image-container">
        <picture *ngIf="!showVideo">
  <source srcset="assets/images/home/youtube.webp" type="image/webp">
  <img src="assets/images/home/youtube.jpg" (mouseenter)="showVideo = !showVideo" alt="Video de presentación de español entre amigos" width="600" height="338" loading="lazy">
</picture>
        <iframe *ngIf="showVideo" src="https://www.youtube.com/embed/lWXMEy-Ee5A?origin=https://espanholentreamigos.com.br" title="Video de presentación de Español entre amigos" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="description-container">
        <h2>Español entre Amigos</h2>
        <p>Es el resultado de más de tres años de experiencia en la enseñanza del español para brasileños y hablantes de la lengua portuguesa. <strong>Español entre Amigos</strong> tiene el propósito de demostrarle a sus estudiantes, y a ti que estás navegando por mi blog, que puedes entender lo que lees y lo que escuchas desde el primer contacto con el idioma, y que no necesitas estar en un nivel conversacional para que puedas desenvolverte.</p>
        <p>Mi objetivo es conseguir que puedas hablar lo más pronto posible, pues cuando aprendemos un idioma, lo hacemos principalmente para comunicarnos hablando y que esto nos permita resolver situaciones. Creé este espacio pensando en ti y en hacer de este proceso lo más práctico, divertido y efectivo posible.</p>
        <p>Bienvenido… </p>
    </div>
</div>