<footer class="contenedor">
  <div class="item logo">
    <img src="/assets/images/marca/logo.png" alt="Espanhol entre amigos" />
  </div>
  <ul class="item social-media-links">
    <li class="subitem"><a href="https://www.facebook.com/espanolentreamigos/" aria-label="facebook" target="_blank" class="facebook"><fa-icon [icon]="faFacebook" class="icon"></fa-icon></a></li>
    <li class="subitem"><a href="https://www.instagram.com/espanolentreamigos/?hl=es" aria-label="instagram" target="_blank" class="instagram"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a></li>
    <li class="subitem"><a href="https://www.youtube.com/channel/UCCeJvOxD-3ylePcNqXFlVOA" aria-label="youtube" target="_blank" class="youtube"><fa-icon [icon]="faYoutube" class="icon"></fa-icon></a></li>
    <li class="subitem"><a href="https://open.spotify.com/show/6OVfzOKTMWONLY3ry6HxHW" aria-label="spotify" target="_blank" class="spotify"><fa-icon [icon]="faSpotify" class="icon"></fa-icon></a></li>
  </ul>
  <div class="item firma">
    <p>
      Copyright &copy; 2020. Todos los derechos reservados. Desarrollado con 
      <a href="https://angular.io/" target="_blank"><fa-icon [icon]="faAngular" class="icon angular"></fa-icon></a> por
      <a href="https://www.linkedin.com/in/diego-humberto-reymy-aguilar-78a95915b/" target="_blank">Diego Reymy.</a> 
    </p>
  </div>
</footer>
