<aside class="blog-sidebar">
    <div class="blog-sidebar-about-me">
        <div class="title-about-me">
            <h3>Sobre mí</h3>
            <hr />
        </div>
        <div class="img-about-me">
            <img src="/assets/images/marca/marioly.jpg" alt="Marioly" />
        </div>
        <div class="text-about-me">
            <p>
                Hola hola amigos, soy Marioly, soy profesora nativa de español para brasileños, particular y online, he
                ayudado a cientos de personas a hablar español. Te doy la bienvenida a mi blog y te invito a ser parte
                de mi comunidad de alumnos.
            </p>
        </div>
        <a href="https://go.hotmart.com/U29418386M" class="link-ads" target="_blank">
            <div class="ads">
                <img src="/assets/images/ads/canva-para-negocios.jpg" alt="Canva para negócios">
                <span>Si quieres saber como creé y edité el logo y todas las imágenes de este blog, te invito a hacer
                    <strong>click</strong> en este anúncio.</span>
            </div>
        </a>
    </div>
</aside>