<aside class="blog-sidebar">
    <div class="blog-sidebar-about-me">
        <div class="title-about-me">
            <h3>Sobre mí</h3>
            <hr />
        </div>
        <div class="img-about-me">
            <img src="/assets/images/marca/marioly.jpg" alt="Marioly" />
        </div>
        <div class="text-about-me">
            <p>
                Hola hola amigos, soy Marioly, licenciada en Eculturismo y guía instructora de turismo de Venezuela.  Llegué a Brasil en septiembre de 2016, año en el que descubrí mi nueva gran pasión, "ser profesora de español", mi idioma nativo. Desde entonces trabajo como profesora de español para brasileños, particular y online, he ayudado a cientos de personas, los cuales hoy considero grandes amigos. Espero que también aprendas mucho. Bienvenido a mi Blog.
            </p>
        </div>
    </div>
</aside>