<aside class="blog-sidebar">
    <div class="blog-sidebar-about-me">
        <div class="title-about-me">
            <h3>Sobre mí</h3>
            <hr />
        </div>
        <div class="img-about-me">
            <img src="/assets/images/marca/marioly.jpg" alt="Marioly" />
        </div>
        <div class="text-about-me">
            <p>
                Hola hola amigos, soy Marioly, soy profesora nativa de español para brasileños, particular y online, he
                ayudado a cientos de personas a hablar español. Te doy la bienvenida a mi blog y te invito a ser parte
                de mi comunidad de alumnos.
            </p>
        </div>
        <a href="https://www.udemy.com/course/mis-primeros-basicos-de-espanol/?referralCode=48F7BFE76C169BC980CA" rel="noopener" class="link-ads" target="_blank">
            <div class="ads">
                <img src="/assets/images/ads/curso_mis_primeros_básicos_de_español.jpg" alt="curso basico de español">
                <span>Puedes comprar mi curso básico de español con precio de promoción haciendo 
                    <strong>click</strong> en este anúncio.</span>
            </div>
        </a>
    </div>
</aside>