<div class="home">
    <section>
        <app-banner></app-banner>
    </section>
    <section>
        <app-about-espanhol-entre-amigos></app-about-espanhol-entre-amigos>
    </section>
    <section>
        <app-about-me></app-about-me>
    </section>
    <section>
        <app-reviews class='reviews-section'></app-reviews>
    </section>
    <section>
        <app-counter></app-counter>
    </section>
    <section>
        <app-contact class='contact-section'></app-contact>
    </section>
</div>