<div class="reviews">
    <div class="title-reviews">
        <h2>
            Que dicen mis alumnos...
        </h2>
        <hr>
    </div>
    <button (click)="prevPage()" [disabled]="actualItem === 1" attr.aria-label="ir a página {{actualItem === 1 ? actualItem : actualItem - 1}} de {{totalPages}}">
        <fa-icon [icon]="icons.faAngleLeft" [ngClass]="{'disabled': actualItem === 1}"></fa-icon>
    </button>
    <app-reviews-list class="app-reviews-list" [reviews]="reviews" (scroll)="onScroll($event)" [loadAll]="loadAll" (touchstart)="loadAll = true"  (mouseenter)="loadAll = true"></app-reviews-list>
    <button (click)="nextPage()" [disabled]="actualItem === totalPages" attr.aria-label="ir a página {{actualItem === totalPages ? actualItem : actualItem + 1}} de {{totalPages}}">
        <fa-icon [icon]="icons.faAngleRight" [ngClass]="{'disabled': actualItem === totalPages}">
        </fa-icon>
    </button>
    <div class="indicators" *ngIf="size > 986">
        <fa-icon *ngFor="let page of totalPagesArray; let index = index" (click)="goToPage(index)"
            [icon]="actualItem === index + 1 ? icons.solidCircle : icons.regularCircle"></fa-icon>
    </div>
    <div class="indicators" *ngIf="size < 986">
        {{ actualItem }} de {{ totalPages }}
    </div>
</div>