<div class="banner-home">
  <h1>
    <picture>
      <source
        srcset="assets/images/banner/banner-desktop.webp"
        type="image/webp"
      />
      <img
        class="banner-image desktop"
        src="assets/images/banner/banner-desktop.jpg"
        alt="Hola soy Marioly Guerrero y tendré el placer de ser tú profesora de español"
        width="1835" height="551" fetchpriority="high"
      />
    </picture>
    <picture>
      <source
        srcset="assets/images/banner/banner-version-movil.webp"
        type="image/webp"
      />
      <img
        class="banner-image mobile"
        src="assets/images/banner/banner-version-movil.jpg"
        alt="Hola soy Marioly Guerrero y tendré el placer de ser tú profesora de español"
        width="400" height="235" fetchpriority="high"
      />
    </picture>
  </h1>
</div>
