<div class="counter">
    <div class="items">
        <div class="item">
            <div class="item-icon">
                <fa-icon [icon]="icons.faChalkboardTeacher"></fa-icon>
            </div>
            <div class="item-number">
                <p appCounter='2500'>2500</p>
            </div>
            <div class="item-line">
                <hr>
            </div>
            <div class="item-description">
                <p>horas de clases dadas</p>
            </div>
        </div>
        <div class="item">
            <div class="item-icon">
                <fa-icon [icon]="icons.faUserGraduate"></fa-icon>
            </div>
            <div class="item-number">
                <p appCounter='125'>125</p>
            </div>
            <div class="item-line">
                <hr>
            </div>
            <div class="item-description">
                <p>Alumnos formados</p>
            </div>
        </div>
        <div class="item">
            <div class="item-icon">
                <fa-icon [icon]="icons.faComment"></fa-icon>
            </div>
            <div class="item-number">
                <p appCounter='50'>50</p>
            </div>
            <div class="item-line">
                <hr>
            </div>
            <div class="item-description">
                <p>Recomendaciones</p>
            </div>
        </div>
        <div class="item">
            <div class="item-icon">
                <fa-icon [icon]="icons.faGrinTears"></fa-icon>
            </div>
            <div class="item-number">
                <p appCounter='0'>&#8734;</p>
            </div>
            <div class="item-line">
                <hr>
            </div>
            <div class="item-description">
                <p>Momentos divertidos</p>
            </div>
        </div>
    </div>
</div>