<div class="reviews">
    <div class="title-reviews">
        <h2>
            Que dicen mis alumnos...
        </h2>
        <hr>
    </div>
    <fa-icon (click)="prevPage()" [icon]="icons.faAngleLeft" [ngClass]="{'disabled': actualItem === 1}"></fa-icon>
    <app-reviews-list class="app-reviews-list" [reviews]="reviews"></app-reviews-list>
    <fa-icon (click)="nextPage()" [icon]="icons.faAngleRight" [ngClass]="{'disabled': actualItem === totalPages}"></fa-icon>
    <div class="indicators" *ngIf="size > 986">
        <fa-icon 
        *ngFor="let page of totalPagesArray; let index = index"
        (click)="goToPage(index)"
        [icon]="actualItem === index + 1 ? icons.solidCircle : icons.regularCircle"
        ></fa-icon>
    </div>
    <div class="indicators" *ngIf="size < 986">
        {{ actualItem }} de {{ totalPages }}
    </div>
</div>