.about-me {
  grid-template-rows: auto 300px;
  display: grid;
  grid-template-columns: 1fr;
  @media only screen and (min-width: 987px) {
    grid-template-rows: auto auto;
  }
  .about-me-image {
    img {
      width: 100%;
      object-fit: cover;
      object-position: 60% 0px;
      height: 300px;
      box-shadow: 0em 0em 1rem 0px rgba(0, 0, 0, 0.15);
      @media only screen and (min-width: 987px) {
        height: 570px;
        object-position: 0px -30px;
      }
    }
  }
  .about-me-text {
    padding: 1rem;
    justify-self: center;
    align-self: center;
    background-color: #bcf3f5;
    text-align: center;
    box-shadow: 0em 0em 1rem 0px rgba(0, 0, 0, 0.15);
    @media only screen and (min-width: 987px) {
      padding: 2rem;
    }
    .about-me-text-blocks {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      row-gap: 1rem;
      .short-history-text {
        width: 100%;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5;
        @media only screen and (min-width: 987px) {
          line-height: 1.5;
          width: 60%;
          margin: auto;
          font-size: 1.25rem;
        }
      }
      .assign-text {
        width: 100%;
        margin: 0;
        font-size: 1.5rem;
        font-family: "Moontine";
        @media only screen and (min-width: 987px) {
          width: 50%;
          margin: auto;
          text-align: right;
          font-size: 2rem;
        }
      }
      .title {
        font-family: "Amatic SC";
        font-size: 1.5rem;
        margin: 0;
        @media only screen and (min-width: 987px) {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }
}
